        <!-- Home -->
        <div data-role="page" id="page-about">
            <div data-theme="a" data-role="header" data-position="fixed">
                <a data-role="button" href="survey.html" class="ui-btn-left" data-icon="grid">
                    Survey
                </a>
                <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
                    <a data-role="button" href="queue.html" data-icon="gear" data-iconpos="left">
                        Queue
                    </a>
                    <a data-role="button" href="setup.html" data-icon="arrow-u" data-iconpos="right">
                        Setup
                    </a>
                </div>
                <h3>
                    Survey
                </h3>
            </div>
            <div data-role="content">
				<div class="container_12">
					<div class="grid_12">Loading</div>
                </div>
            </div>
            <div data-theme="a" data-role="footer" data-position="fixed">
                <h6>
                    &copy; Gizur AB 2012
                </h6>
            </div>
        </div>