        <div data-role="page" id="page-advancesetup">
            <div data-theme="a" data-role="header" data-position="fixed">
                <a data-transition="none" data-role="button" href="setup.html" class="ui-btn-left" data-icon="arrow-l">
                    Back
                </a>
                <h3>
                    Advance Setup
                </h3>
            </div>
            <div data-role="content">
		<div class="container_12">
			<div class="grid_12">
				<div data-role="fieldcontain">
					<label for="apikey">API Key</label>
					<input name="apikey" id="apikey" placeholder="" value="" type="text" />
				</div>
			</div>

			<div class="grid_12">
				<div data-role="fieldcontain">
					<label for="apisecret">API Secret</label>
					<input name="apisecret" id="apisecret" placeholder="" value="" type="text" />
				</div>
			</div>

			<div class="grid_12">
				<div data-role="fieldcontain">
					<label for="url">URL</label>
					<input name="url" id="url" placeholder="" value="" type="text" />
				</div>
			</div>

			<div class="grid_12"><a href="javascript:void(0);" id="button-updatecache" data-role="button">Update Cached List</a></div>
			<div class="grid_12">
				<fieldset data-role="controlgroup">
				     	<input type="radio" name="scheme" id="scheme-1" value="http" checked="checked" />
				     	<label for="scheme-1">HTTP</label>

				     	<input type="radio" name="scheme" id="scheme-2" value="https"  />
				     	<label for="scheme-2">HTTPS</label>
				</fieldset>
			</div>

			<div class="grid_12">
			<div data-role="fieldcontain">
				<label for="imagequality">Image Quality</label>
			 	<input type="range" name="imagequality" id="imagequality" value="50" min="0" max="100" data-highlight="true"  />
			</div>
            </div>
			<div class="grid_12"><a data-theme="b" href="javascript:void(0);" id="button-save" data-role="button">Save</a></div>            
                </div>
            </div>
        </div>