        <div data-role="page" id="page-damageadd">
            <div data-theme="a" data-role="header" data-position="fixed">
                <a data-transition="none" data-role="button" href="survey.html" class="ui-btn-left" data-icon="grid">
                    Survey
                </a>
                <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
                    <a data-transition="none" data-role="button" href="queue.html" data-icon="gear" data-iconpos="left">
                        Queue
                    </a>
                    <a data-transition="none" data-role="button" href="setup.html" data-icon="arrow-u" data-iconpos="right">
                        Setup
                    </a>
                </div>
                <h3>
                    Report A Damage
                </h3>
            </div>
            <div data-role="content">
                <div class="container_12">
                    <h3>Damage Details</h3>
                    <form id="damage-add">
                    <div class="grid_12">
                        <div data-role="fieldcontain">
                            <label for="damagetype" class="select">Damage Type</label>
                            <select name="damagetype" id="damagetype">
                            </select>
                        </div>
                    </div>

                    <div class="grid_12">
                        <div data-role="fieldcontain">
                            <label for="damageposition" class="select">Damage Position</label>
                            <select name="damageposition" id="damageposition">
                            </select>
                        </div>
                    </div>

                    <div class="grid_12">
                        <div data-role="fieldcontain">
                            <label for="drivercauseddamage" class="select">Damage Caused by driver</label>
                            <select name="drivercauseddamage" id="drivercauseddamage">
                            </select>
                        </div>
                    </div>
					<div class="grid_12">
						<a href="#" data-role="button" id="button-addimage">Add Photo</a> 
					</div>                    
					<div class="grid_12" id="damage-images">
					</div>
					<div class="grid_12">
						<a href="#" data-role="button" id="button-done">Done</a> 
					</div>					
                    </form>
                </div>
            </div>
        </div>