        <div data-role="page" id="page-damages">
            <div data-theme="a" data-role="header" data-position="fixed">
                <a data-transition="none" data-role="button" href="survey.html" class="ui-btn-left" data-icon="grid">
                    Survey
                </a>
                <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
                    <a data-transition="none" data-role="button" href="queue.html" data-icon="gear" data-iconpos="left">
                        Queue
                    </a>
                    <a data-transition="none" data-role="button" href="setup.html" data-icon="arrow-u" data-iconpos="right">
                        Setup
                    </a>
                </div>
                <h3>
                    Survey
                </h3>
            </div>
            <div data-role="content">    
					<a href="#" data-role="button" id="button-report">Report a New Damage</a> 
					<br/>
					<ul data-role="listview" id="troubletickets">
						<li data-role="list-divider">List Of Previously reported damages<a href="#" data-role="button" id="button-refresh" data-inline="true" data-theme="b" data-mini="true">Refresh</a></li>
						<li><center>Loading...</center></li>
					</ul>
            </div>
        </div>