        <div data-role="page" id="page-damagedetails">
            <div data-theme="a" data-role="header" data-position="fixed">
                <a data-transition="none" data-role="button" href="survey.html" class="ui-btn-left" data-icon="grid">
                    Survey
                </a>
                <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
                    <a data-transition="none" data-role="button" href="queue.html" data-icon="gear" data-iconpos="left">
                        Queue
                    </a>
                    <a data-transition="none" data-role="button" href="setup.html" data-icon="arrow-u" data-iconpos="right">
                        Setup
                    </a>
                </div>
                <h3>
                    Details of Damage
                </h3>
            </div>
            <div data-role="content">
                <div class="container_12">
                    <h3>Damage Details : <span id="ticket_title"></span> for <span id="trailerid"></span></h3>
                    <div class="grid_6">
						<b>Trouble Ticket ID</b>
                    </div>
                    <div id="ticket_no" class="grid_6">

                    </div>
                    
                    <div class="grid_6">
						<b>Sealed</b>
                    </div>
                    <div id="sealed" class="grid_6">

                    </div> 
                    
                    <div class="grid_6">
						<b>Plates</b>
                    </div>
                    <div id="plates" class="grid_6">

                    </div>
                    
                    <div class="grid_6">
						<b>Straps</b>
                    </div>
                    <div id="straps" class="grid_6">

                    </div>
                    
                    <div class="grid_6">
						<b>Location</b>
                    </div>
                    <div id="damagereportlocation" class="grid_6">

                    </div>
                    
                    <div class="grid_6">
						<b>Position</b>
                    </div>
                    <div id="damageposition" class="grid_6">

                    </div> 
                    
                    <div class="grid_6">
						<b>Type</b>
                    </div>
                    <div id="damagetype" class="grid_6">

                    </div>                    
                    
                    <div class="grid_12">
                    	<h3>Images</h3>
                    </div>
                    <div class="grid_12" id="image-list">
                    	
                    </div>
                </div>
            </div>
        </div>