        <div data-role="page" id="page-queue">
            <div data-theme="a" data-role="header" data-position="fixed">
                <a data-transition="none" data-role="button" href="survey.html" class="ui-btn-left" data-icon="grid">
                    Survey
                </a>
                <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
                    <a data-transition="none" data-role="button" href="queue.html" data-icon="gear" data-iconpos="left">
                        Queue
                    </a>
                    <a data-transition="none" data-role="button" href="setup.html" data-icon="arrow-u" data-iconpos="right">
                        Setup
                    </a>
                </div>
                <h3>
                    Survey
                </h3>
            </div>
            <div data-role="content">
		<div class="container_12">
	        	<fieldset data-role="controlgroup" id="queue">

			    </fieldset>
                    <div class="grid_12">
						<input type="button" data-role="button" id="button-start_upload" value="Start Upload Survey / Damage"/>
					</div>  
				    <div class="grid_12">
					    <input type="button" data-role="button" id="button-pause_upload" value="Pause Upload Survey / Damage">
                    </div> 
                    <div class="grid_12">
					    <input type="button" data-role="button" id="button-delete_queue" value="Delete Queued Survey / Damage">
                    </div> 
                </div>
            </div>
        </div>