        <div data-role="page" id="page-setup">
            <div data-theme="a" data-role="header" data-position="fixed">
                <a data-transition="none" data-role="button" href="survey.html" class="ui-btn-left" data-icon="grid">
                    Survey
                </a>
                <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
                    <a data-transition="none" data-role="button" href="queue.html" data-icon="gear" data-iconpos="left">
                        Queue
                    </a>
                    <a data-transition="none" data-role="button" href="setup.html" data-icon="arrow-u" data-iconpos="right">
                        Setup
                    </a>
                </div>
                <h3>
                    Setup
                </h3>
            </div>
            <div data-role="content">
                <div class="container_12">
                    <div class="grid_12">
                        <div data-role="fieldcontain">
                            <label for="username">Email</label>
                            <input name="username" id="username" placeholder="" value="" type="text" /> <!-- mobile_user@gizur.com -->
                        </div>                        
                    </div>
                    <div class="grid_12">
                        <div data-role="fieldcontain">
                            <label for="password">Password</label>
                            <input name="password" id="password" placeholder="" value="" type="password" /><!-- cwvvzvb0 ivry34aq-->
                        </div>                        
                    </div>                    
                    <div class="grid_6"><button data-role="button" id="button-save">Save</button></div>
                    <div class="grid_6"><a data-transition="none" data-role="button" href="advancesetup.html">Advance Setup</a></div>
                    <div class="grid_12" id="message" style="text-align: center;">
                        
                    </div>                    
                </div>
            </div>          
        </div>