        <div data-role="page" id="page-survey">
            <div data-theme="a" data-role="header" data-position="fixed">
                <a data-transition="none" data-role="button" href="survey.html" class="ui-btn-left" data-icon="grid">
                    Survey
                </a>
                <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
                    <a data-transition="none" data-role="button" href="queue.html" data-icon="gear" data-iconpos="left">
                        Queue
                    </a>
                    <a data-transition="none" data-role="button" href="setup.html" data-icon="arrow-u" data-iconpos="right">
                        Setup
                    </a>
                </div>
                <h3>
                    Survey
                </h3>
            </div>
            <div data-role="content">
                <div class="container_12">
                    <h3>Survey</h3>
                    <form id="survey">
                    <div class="grid_12">
                        <div data-role="fieldcontain">
                            <label for="trailertype" class="select">Type Of Trailer</label>
                            <select name="trailertype" id="trailertype">
                            </select>
                        </div>
                    </div>

                    <div class="grid_12">
                        <div data-role="fieldcontain">
                            <label for="trailerid" class="select">Trailer ID</label>
                            <select name="trailerid" id="trailerid">
                            </select>
                        </div>
                    </div>

                    <div class="grid_12">
                        <div data-role="fieldcontain">
                            <label for="damagereportlocation" class="select">Place</label>
                            <select name="damagereportlocation" id="damagereportlocation">
                            </select>
                        </div>
                    </div>

                    <div class="grid_12">
                        <div data-role="fieldcontain">
                            <fieldset data-role="controlgroup" data-type="horizontal" id="sealed">
                            </fieldset>
                        </div>
                    </div>
                    <h3>Trailer Inventory</h3>
                    <div class="grid_12">
                        <div data-role="fieldcontain">
                            <label for="plates" class="select">Plates</label>
                            <select name="plates" id="plates">
                            </select>
                        </div>
                    </div>
                    <div class="grid_12">
                        <div data-role="fieldcontain">
                            <label for="straps" class="select">Straps</label>
                            <select name="straps" id="straps">
                            </select>
                        </div>
                    </div>
                    <div class="grid_6">
						<input type="button" data-role="button" id="button-nodamage" value="No New Damage"/>
					</div>  
				    <div class="grid_6">
					    <input type="button" data-role="button" id="button-damage" value="Report New Damage">
                    </div>
                    </form>
                </div>
            </div>
        </div>